/__pycache__
/venv
/ffmpeg
/__pycache__
config.txt
log.txt
server_path.txt
log.log
server.log
rcon.txt
.DS_Store
log.log
darkweb/.DS_Store
/.idea
/darkweb/modules/__pycache__
darkweb/darkweb.log
/darkweb/__pycache__
/__pycache__
log.log
